In [9]:
import pandas as pd

In [12]:
age_lkp = pd.read_parquet('./data/processed/c21_g01_sa2_age_lookup.parquet')
age_lkp.head()

  age_group          age_group_label
0       0_4    Age groups: 0-4 years
1     15_19  Age groups: 15-19 years
2     20_24  Age groups: 20-24 years
3     25_34  Age groups: 25-34 years
4     35_44  Age groups: 35-44 years

In [5]:
geo_lookup = pd.read_parquet('./data/processed/c21_g01_sa2_geo_lookup.parquet')

In [7]:
geo_lookup['geog_type'].value_counts()

geog_type
SA2      2472
SA3       358
SA4       107
GCCSA      34
STE         9
AUS         1
Name: count, dtype: int64

In [8]:
pop = pd.read_parquet('./data/processed/c21_g01_sa2_population.parquet')
pop.head()

  sex age_group    geog_id geog_type state  year  persons
0   3     65_74  213051588       SA2     2  2021      601
1   1     65_74        114       SA4     1  2021    11921
2   2     45_54        307       SA4     3  2021     8361
3   2     45_54        401       SA4     4  2021    20641
4   3     35_44        506       SA4     5  2021    80385